<div class="container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>What is your characters name</mat-label>
      <input type="text" matInput placeholder="ex. Simba" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>What does your character look like</mat-label>
      <input
        type="text"
        matInput
        placeholder="Ex. an elderly man with reading glasses and fluffy white hair"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>What is your character like?</mat-label>
      <input
        type="text"
        matInput
        placeholder="ex. a sweet grandpa that likes to tell stories."
      />
    </mat-form-field>
  </form>

  <title>record yourself</title>
  <ngx-mic-recorder
    [showVisualization]="false"
    (getAsBlob)="send($event)"
    (afterStartRecording)="recorderInitialized = true"
  ></ngx-mic-recorder>

  <button mat-button type="submit"></button>
</div>
