.container {
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  padding: 2rem;
  gap: 2rem;

  h1 {
    margin: 4rem auto;
    color: #f29e38;
  }
}

.example-form {
  display: flex;
  flex-direction: column;
}

.file-input {
  display: none;
}

.file-upload {
  display: flex;
  margin-bottom: 1rem;

  .file-upload-text {
    margin: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.text-input {
  width: 200px;
}

::ng-deep .mat-select-value {
  color: green !important;
}

::ng-deep .mdc-list-item__primary-text {
  color: white !important;
}

::ng-deep .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
  color: #f29e38 !important;
}

::ng-deep .mat-mdc-form-field.mat-focused .mat-mdc-select-arrow {
  color: #f29e38 !important;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
  border-color: #f29e38 !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #95bfa4 !important;
}

::ng-deep
  .mdc-text-field--focused:not(.mdc-text-field--disabled)
  .mdc-floating-label {
  color: #f29e38 !important;
}

::ng-deep div.mat-mdc-select-panel {
  background-color: #95bfa4 !important;
}

::ng-deep .mat-mdc-raised-button:not(:disabled) {
  background-color: #f29e38 !important;
}

::ng-deep .mat-mdc-raised-button {
  background-color: #f29e389a !important;
}

::ng-deep .mat-mdc-fab,
.mat-mdc-mini-fab {
  background-color: #f29e38 !important;
}

::ng-deep .mdc-text-field .mdc-text-field__input {
  caret-color: #f29e38 !important;
}

::ng-deep .mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: #f29e38 !important;
  --mdc-linear-progress-track-color: #f29e3831 !important;
}
