<mat-progress-bar [mode]="'indeterminate'" *ngIf="loading"></mat-progress-bar>
<div class="container" *ngIf="!success">
  <h1 class="header mat-headline-4">Create your own Character</h1>
  <!-- <h1>Create your own Character</h1> -->

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>What is your characters name</mat-label>
      <input
        class="text-input"
        type="text"
        matInput
        placeholder="ex. Simba"
        [(ngModel)]="charName"
        name="name"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>What does your character look like</mat-label>
      <input
        class="text-input"
        type="text"
        matInput
        placeholder="Ex. an elderly man with reading glasses and fluffy white hair"
        [(ngModel)]="charDescription"
        name="description"
      />
    </mat-form-field>
  </form>
  <!-- 
  <title>record yourself</title>
  <ngx-mic-recorder
    [showVisualization]="false"
    (getAsBlob)="send($event)"
    (afterStartRecording)="recorderInitialized = true"
  ></ngx-mic-recorder> -->
  <div>
    <p class="mat-body-1">Upload a mp3 file as a voice reference:</p>
    <input
      type="file"
      class="file-input"
      (change)="onFileSelected($event)"
      #fileUpload
    />

    <div class="file-upload">
      <button
        mat-mini-fab
        color="primary"
        class="upload-btn"
        accept="audio/mp3"
        (click)="fileUpload.click()"
      >
        <mat-icon>attach_file</mat-icon>
      </button>
      <span class="file-upload-text" (click)="fileUpload.click()">{{
        fileUpload.value.split("\\").pop() || "No file uploaded yet."
      }}</span>
    </div>
  </div>

  <button
    mat-raised-button
    color="primary"
    (click)="submit()"
    [disabled]="!(charName && charDescription && file)"
  >
    create
  </button>
</div>

<div class="container" *ngIf="success">
  <h1 class="header mat-headline-5">Successfully created Character!</h1>
  <button mat-raised-button color="primary" routerLink="/">Check it out</button>
</div>
