.content {
    display: flex;
    margin: 4rem auto;
    flex-direction: column;
    max-width: 830px;
    gap: 2rem;

    h2 {
        color: #f29e38;
        margin: 32px 0 0 0;
    }

    .header {
        margin: auto;
        color: #f29e38;
    }

    li {
        font-size: large;
        margin-bottom: 2rem;
    }
}