<div class="content">
  <img src="assets/Logo.png" class="logo" />

  <h2 class="mat-headline-3">About</h2>
  <p class="mat-body-1">
    Greetings, adventurer! We are excited to introduce you to the world of
    BlablaLand. The inception of this project was a whimsical concept: a podcast
    where you could tune into 'Napoleon' discussing 'Chemistry' or recounting
    his 'travels to Australia.' An idea as delightful as it was bizarre. Yet, as
    we tossed it around, the notion evolved into something entirely more
    interactive and engaging: a voice companion. <br>Thus, BlablaLand was born. In
    BlablaLand, you hold the power of creation. You can breathe life into your
    own character, imbuing it with a distinctive voice and persona. This
    character becomes your companion, available for discussions as light or as
    profound as you wish, at any time and for any duration. Remember, whatever
    transpires in BlablaLand stays in BlablaLand. Enjoy the escapade!
  </p>

  <h2 class="mat-headline-3">How it Works</h2>
  <p class="mat-body-1">
    ElevenLabs: This technology is employed for the generation of text-to-speech
    responses and crafting unique voices for distinctive characters within
    BlablaLand. <br><br>
    Whisper API: Utilized for the transcription of user queries
    addressed to the BlablaLand characters, converting spoken language into
    written text. <br><br> ChatGPT: This AI model is harnessed to craft responses in a
    variety of styles and schemes, ranging from a personal coach to numerous
    other interactive scenarios. <br><br> StabilityAPI: This has been designed to produce
    unique images for each character, adding a visual element to the BlablaLand
    experience.
  </p>

  <h2 class="mat-headline-3">Creators</h2>
  <ul>
    <li>
      Theresa Tobollik <a href="https://github.com/ttobollik">@ttobollik</a>
    </li>
    <li>Alexander Bergmann <a href="https://github.com/Casraw">@Casraw</a></li>
    <li>Patrick Gerard <a href="https://github.com/grumpyp">@grumpyp</a></li>
    <li>
      Ashley Bekemeier
      <a href="https://github.com/AshleyBekemeier">@AshleyBekemeier</a>
    </li>
  </ul>
</div>
