<div class="content">
  <span class="mat-headline-2">I want...</span>

  <div class="character-select">
    <button mat-icon-button (click)="prev()">
      <mat-icon>arrow_left</mat-icon>
    </button>
    <div class="keen-slider" #sliderRef>
      <mat-card
        *ngFor="let companion of companions; index as index"
        class="keen-slider__slide companion"
        color="primary"
        (click)="moveToIdx(index)"
      >
        <mat-card-header class="companion__name">{{
          companion.name
        }}</mat-card-header>
        <mat-card-content color="primary">
          <img class="companion__image" [src]="companion.avatar_url" />
        </mat-card-content>
        <mat-card-footer class="companion__description">{{
          companion.description
        }}</mat-card-footer>
      </mat-card>
    </div>
    <button mat-icon-button (click)="next()">
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
  <div class="content fadeIn" [class.hidden]="!showSettings">
    <span class="mat-headline-2">to...</span>

    <mat-form-field>
      <mat-select #select (selectionChange)="showSubmit = true">
        <mat-option *ngFor="let setting of settings" [value]="setting.id">
          {{ setting.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div [class.hidden]="!showSubmit" class="fadeIn">
    <button mat-raised-button color="primary" (click)="navigateToCompanion(select.value)">
      Start talking!
    </button>
  </div>
</div>
