.content {
  display: flex;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.keen-slider {
  width: 600px !important;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;

    background: linear-gradient(
      to right,
      #fff8ee,
      transparent 20%,
      transparent 80%,
      #fff8ee
    );
  }

  .mat-mdc-card {
    background-color: #95bfa4;
    color: white !important;
  }

  .active.mat-mdc-card {
    background-color: #f29e38 !important;
  }
}

.companion {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;

  &__image {
    width: 128px;
    height: 128px;
    margin: auto;
    display: block;
    border-radius: 22px;
    filter: drop-shadow(0 0 0.5rem black);
  }

  &__name {
    margin: auto;
    font-size: 24px;
    text-align: center;
    align-items: center;
    height: 44px;
  }

  &__description {
    margin: auto;
    text-align: center;
    height: 44px;
  }

  &:hover {
    cursor: pointer;
    transform: scale(0.9);
  }
}

.character-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.hidden {
  opacity: 0;
}

.fadeIn {
  transition: opacity 0.5s;

  button {
    background-color: #f29e38 !important;
  }
}


::ng-deep .mat-select-value {
  color: green !important;
}

::ng-deep .mdc-list-item__primary-text {
  color: white !important
}

::ng-deep .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
  color: #f29e38 !important;
}

::ng-deep .mat-mdc-form-field.mat-focused .mat-mdc-select-arrow {
  color: #f29e38 !important;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
  border-color: #f29e38 !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #95bfa4 !important;
}


::ng-deep div.mat-mdc-select-panel {
  background-color: #95bfa4 !important;
}