.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;

    &__description {
        display: flex;
        gap: 1rem;
    }
}

ngx-mic-recorder {
    width: 64px;
    overflow: hidden;
}

::ng-deep.ngx-mic-recorder__start-stop {
    background-color: #7b1fa2 !important;
}

.recorder {
    display: flex;
    align-items: center;
    gap: 2rem;
}