<div class="container">
  <h1>Chat with {{ companion.name }}</h1>
  <div class="container__description">
    <h3>{{ companion.description }}</h3>
    <h3>{{ companion.rating }}/5 ⭐</h3>
  </div>

  <div class="recorder">
    <app-playback></app-playback>
    <app-speech-bubble
      [position]="'speech left'"
      [text]="companionText"
    ></app-speech-bubble>
  </div>

  
  <audio *ngIf="audio" controls>
    <source [src]="audio" type="audio/mpeg">
  </audio>
  
  <div class="recorder">
    <app-speech-bubble
      [position]="'speech right'"
      [text]="userText"
    ></app-speech-bubble>
    <ngx-mic-recorder
      [showVisualization]="false"
      (getAsBlob)="send($event)"
      (afterStartRecording)="recorderInitialized = true"
    ></ngx-mic-recorder>
  </div>
</div>
