<!-- <mat-progress-bar id="progressBar" mode="indeterminate" [class.hidden]="!isLoading"></mat-progress-bar> -->
<div class="container">
  <h1>Chat with {{ companion.name }}</h1>
  <div class="container__description">
    <h3>{{ companion.description }}</h3>
    <h3>{{ companion.rating }}/5 ⭐</h3>
  </div>

  <mat-divider></mat-divider>
  
  <div class="recorder">
    <app-playback [text]="companionText" (isLoading)="isLoading = $event" [companion]="companion"></app-playback>
    <app-speech-bubble
      [position]="'speech left'"
      [text]="isLoading ? null : companionText || '...'"
    ></app-speech-bubble>
  </div>

  <div class="recorder">
    <app-speech-bubble
      [position]="'speech right'"
      [text]="userText"
    ></app-speech-bubble>
    <ngx-mic-recorder
      [showVisualization]="false"
      (getAsBlob)="send($event)"
      (afterStartRecording)="recorderInitialized = true"
    ></ngx-mic-recorder>
  </div>
</div>
