.image-container {
  position: relative;
  width: max-content;
  height: max-content;
  margin: auto;
}

.mouth {
  position: absolute;
  top: 0;
  left: 0;
}

.character {
  height: 300px;
  width: auto;
}

.mouth {
  top: 0px;
  left: 0px;
  height: 100%;
  width: auto;
}

.eyes {
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  height: 100%;
  width: auto;
}
