<mat-drawer-container class="container" autosize>
  <mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img
      routerLink="/"
      src="assets/LogoSmall.png"
      class="logo logo-small"
      (click)="drawer.close()"
    />
  </mat-toolbar>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <div class="sidenav-list">
      <img
        routerLink="/"
        src="assets/Logo.png"
        class="logo"
        (click)="drawer.close()"
      />
      <button mat-button routerLink="/" (click)="drawer.close()">
        <mat-icon>list</mat-icon>Character Selection
      </button>
      <button mat-button routerLink="create" (click)="drawer.close()">
        <mat-icon>create</mat-icon>Create your own Character
      </button>
      <button mat-button routerLink="about" (click)="drawer.close()">
        <mat-icon>alternate_email</mat-icon>About us
      </button>
    </div>
  </mat-drawer>

  <router-outlet></router-outlet>

  <span class="footnote"
    >made by <a href="https://github.com/BlaBlaLandOrg">@BlaBlaLand</a></span
  >
</mat-drawer-container>
